.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #ff5900;
    border-radius: 5px;
    background-color: #f2c3594d;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: #ff5900;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
    color:#000;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    /*color: #00000;*/
}