body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part-1{
    background:#FFF;
    border-radius:0;
    padding:19px 10px;
    margin:15px 0px;
    height: 17rem;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}

.avatar {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    background: #ff5900;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}