.size {
    width: 50px !important;
}

.btnborder {
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.back-orange{
    background-color: #ff5900;
    color: #ffffff;
}

.color-orange{
    color: #ff5900;
    border: 1px solid #ccc;
}