<div class="navbar navbar-inverse" role="navigation">
    <div class="">
        <div class="navbar-header">
            <a class="navbar-brand visible-xs text-light" ng-click="ctrl.displayPage(properties.homePageToken)" href="../{{properties.homePageToken}}/">{{ctrl.applicationName}}</a>
            <!--<a class="navbar-brand visible-xs" ng-click="ctrl.displayPage(properties.homePageToken)" href="../{{properties.homePageToken}}/">{{ctrl.applicationName}}</a>-->
            <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<img class="full-height">-->
        </div>
        
        <div collapse="navCollapsed" class="collapse navbar-responsive-collapse navbar-collapse">
            <ul class="nav navbar-nav visible-xs text-center">
                <hr ng-show="ctrl.applicationMenuList.length>0"/>
                <li ng-if="!properties.isGuestUser"><a ng-click="ctrl.openCurrentSessionModal()" class="btn btn-link btn-account"><span class="max-title-width">{{properties.userName}}</span></a></li>
                <li ng-if="properties.isGuestUser"><a ng-click="ctrl.logoutAndUpdateSuccessfulLogoutVariable()" class="btn btn-link btn-account"><span class="max-title-width" translate>Sign in</span></a></li>
                <!--<li><a ng-click="ctrl.openAppSelectionModal()" class="btn btn-link btn-account"><span class="glyphicon glyphicon-th"></span></a></li>-->
            </ul>
            <!--<ul class="nav navbar-nav">-->
            <ul class="bgo">
                {{ctrl.parentToken}}
                <li ng-class="{active:(ctrl.pageToken === menu.applicationPageId.token) || (ctrl.parentPageId === menu.id && properties.menuClosed === true), 'text-center': properties.menuClosed}" class="main-app" ng-repeat="menu in ctrl.filterChildren(-1)" dropdown >
                    <button ng-if="!ctrl.isParentMenu(menu)" class="btn btn-link" ng-click="ctrl.displayPage(menu.applicationPageId.token);"
                        ng-class="{'text-left':!properties.menuClosed}"
                        ng-disabled="ctrl.disabledByTask(menu.displayName)"
                    >
                        <span class="ease-transition" ng-if="menu.displayName === 'Solicitud'">
                            <img class="side-menu-icon" src="assets/img/Icono_A blanco.png" ng-hide="ctrl.disabledByTask(menu.displayName)">
                            <img class="side-menu-icon" src="assets/img/Icono_A blanco_desactivado.png" ng-show="ctrl.disabledByTask(menu.displayName)">
                        </span>
                        <!--<span class="ease-transition glyphicon glyphicon-list-alt" ng-if="menu.displayName === 'Solicitud de examen'"></span>-->
                        
                        <!--<span class="ease-transition glyphicon glyphicon-credit-card" ng-if="menu.displayName === 'Pago de examen y facturación'"></span>-->
                        <span class="ease-transition" ng-if="menu.displayName === 'Pago'">
                            <img class="side-menu-icon" src="assets/img/Icono_pesos blanco.png" ng-hide="ctrl.disabledByTask(menu.displayName)">
                            <img class="side-menu-icon" src="assets/img/Icono_pesos blanco_desactivado.png" ng-show="ctrl.disabledByTask(menu.displayName)">
                        </span>
                        <!--<span class="ease-transition glyphicon glyphicon-user" ng-if="menu.displayName === 'Autodescripción'"></span>-->
                        <span class="ease-transition" ng-if="menu.displayName === 'Autodescripción'">
                            <img class="side-menu-icon" src="assets/img/Icono_agenda blanco.png" ng-hide="ctrl.disabledByTask(menu.displayName)">
                            <img class="side-menu-icon" src="assets/img/Icono_agenda blanco_desactivado.png" ng-show="ctrl.disabledByTask(menu.displayName)">
                        </span>
                        
                        <!--<span class="ease-transition glyphicon glyphicon-calendar" ng-if="menu.displayName === 'Examen y entrevistas'"></span>-->
                        <span class="ease-transition" ng-if="menu.displayName === 'Cita Exámenes'">
                            <img class="side-menu-icon" src="assets/img/Icono_calendario blanco.png" ng-hide="ctrl.disabledByTask(menu.displayName)">
                            <img class="side-menu-icon" src="assets/img/Icono_calendario blanco_desactivado.png" ng-show="ctrl.disabledByTask(menu.displayName)">
                        </span>
                        <!--<span class="ease-transition glyphicon glyphicon-phone" ng-if="menu.displayName === 'Genera tu credencial'"></span>-->
                        <span class="ease-transition" ng-if="menu.displayName === 'Credencial'">
                            <img class="side-menu-icon" src="assets/img/Icono_ID blanco.png" ng-hide="ctrl.disabledByTask(menu.displayName)">
                            <img class="side-menu-icon" src="assets/img/Icono_ID blanco_desactivado.png" ng-show="ctrl.disabledByTask(menu.displayName)">
                        </span>
                        <!--<span class="ease-transition glyphicon glyphicon-ok" ng-if="menu.displayName === 'Confirma resultado'"></span>-->
                        <span class="ease-transition" ng-if="menu.displayName === 'Resultado'">
                            <img class="side-menu-icon" src="assets/img/Icono_proceso terminado blanco.png" ng-hide="ctrl.disabledByTask(menu.displayName)">
                            <img class="side-menu-icon" src="assets/img/Icono_proceso terminado blanco_desactivado.png" ng-show="ctrl.disabledByTask(menu.displayName)">
                        </span>
                        <span class="maxTitleWidth ease-transition" ng-if="!properties.menuClosed">{{menu.displayName}}</span>
                    </button>
                </li>
            </ul>
            
        </div>
    </div>
</div>