.margin30 {
    margin-top: 30px !important;
}

.autoLM img {
    margin-left: auto !important;
}

/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.nopadding{
    padding-left: 0;
}

.paddingtabs{
    padding-right: 15px;
    padding-left: 15px;
}

/*.size-fixed{*/
/*    width: 20rem;*/
/*    height: 20rem;*/
/*    position: relative;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

.image-pdf{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /*position: relative;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
.fix-pdf-widget-height>pb-button>div>button{
    max-width: 20rem;
    height: 20rem;
}

.text-red{
   color: #F84040;
}



.color-orange{
 color: #ff5800;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fondorojo{
    background:#FA2323;
    color: white;
}

.color-orange{
    color: #ff5900;
}

.bg-white{
    background: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 6px 1px black;
}

.paddingRight {
    padding-right: 30px !important;
}

.mtop100 {
    margin-top: 100px;
}

@media only screen and (min-width: 760px){
    .absolute-center{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
