<div ng-class="{
    'form-horizontal': properties.labelPosition === 'left' && !properties.labelHidden,
    'row': properties.labelPosition === 'top' && !properties.labelHidden || properties.labelHidden
    }">
    <div class="form-group">
        <label
            ng-if="!properties.labelHidden"
            ng-class="{ 'control-label--required': properties.required }"
            class="control-label col-xs-{{ !properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 12 }}" ng-bind-html="properties.label | uiTranslate">
        </label>
        <div class="col-xs-12 moneda-container" style="display: inline-flex; position: relative;">
            <label class="moneda-display">$</label>
            <!--<input-->
            <!--    class="form-control "-->
            <!--    placeholder="{{ properties.placeholder | uiTranslate }}"-->
            <!--    ng-model="properties.value"-->
            <!--    ng-model-options="{ allowInvalid: true }"-->
            <!--    name="{{ctrl.name}}"-->
            <!--    ng-required="properties.required"-->
            <!--    ng-minlength="properties.minLength"-->
            <!--    maxlength="properties.maxLength"-->
            <!--    min="{{properties.min}}"-->
            <!--    max="{{properties.max}}"-->
            <!--    step="{{properties.step}}"-->
            <!--    ng-readonly="properties.readOnly"-->
            <!--    style="padding-left: 35px;"-->
            <!--    ng-keypress="forceKeyPressUppercase($event)"-->
            <!--    type="number" pattern="[0-9]*" data-politespace data-grouplength="3" data-delimiter="," data-reverse>-->
            
            <input style="padding-left: 35px;" class="form-control " ng-model="row.valor" type="number" 
            pattern="[0-9]*" data-politespace data-grouplength="3" data-delimiter="," data-reverse
            ng-keypress="forceKeyPressUppercase($event)"
            placeholder="{{ properties.placeholder | uiTranslate }}"
            ng-readonly="properties.readOnly"
            max="{{properties.max}}"
            min="{{properties.min}}">
            <!--pattern="[0-9]*" data-politespace data-grouplength="3" data-delimiter="," data-reverse-->
            <div ng-messages="$form[ctrl.name].$dirty && $form[ctrl.name].$error " ng-messages-include="forms-generic-errors.html" role="alert"></div>
        </div>
    </div>
</div>
