<div class="dropdown dropdown-scroll">
<button class="btn btn-default dropdown-toggle button-size" type="button" id="dropdownMenu1" data-toggle="dropdown" style="background: url(assets/img/{{picture}});background-size: 3.1rem;">
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
       <a href="#" ng-click="$event.preventDefault();ctrl.setCookie('ESP')" class="navi-link">
            <span class="symbol symbol-20 mr-3">
                <img src="assets/img/{{properties.banderaSpain}}" class="img-size"></span><span class="navi-text"> {{" Español" | uiTranslate}}
            </span>
        </a>
      
    </li>
    <li role="presentation">
            <a href="#" ng-click="$event.preventDefault();ctrl.setCookie('ENG');" class="navi-link active">
                <span class="symbol symbol-20 mr-3">
                    <img src="assets/img/{{properties.banderaEU}}" class="img-size"></span><span class="navi-text"> {{" Inglés" | uiTranslate}}
                </span>
            </a>
    </li>
  </ul>
</div>