.btn.btn-link,
.btn.btn-link:hover,
.btn.btn-link:focus,
.btn.btn-link:active {
    outline: none;
}


.ocultarBoton { 
    background: transparent; 
    border: none !important; 
} 

.iconograndetabla {
    font-size: 26px !important;
}

.posicion{
    top: 18px !important;
    position: relative;
}