<div class="col-12 document-card">
    <!-- <div class="upload-file-customized-header2">
        <label class="upload-file-customized-header-text2">{{properties.documentName}}</label>
    </div>
    <div class="upload-file-customized-body2">
        <div class="upload-file-customized-text-container2">
            <p class="upload-file-customized-text2" ng-bind-html="properties.documentDescription | uiTranslate"></p>
        </div>
    </div> -->
    <label>{{properties.documentName}}</label> <button type="button" class="btn btn-link" ng-show="properties.requiereEjemplo" ng-click="descargarEjemplo()"> Descargar ejemplo</button>
    <div class="">
        <div ng-class="{
            'form-horizontal': properties.labelPosition === 'left' && !properties.labelHidden,
            'row': properties.labelPosition === 'top' && !properties.labelHidden || properties.labelHidden
            }">
            <div class="form-group">
                
                <div class="col-xs-12 text-center ">
                    <div class="col-xs-12">
                        <div class="col-xs-12 text-center obligatorio" ng-if="properties.isObligatorio" ng-hide="properties.isMostrar">
                            <label>Obligatorio</label>
                        </div>
                        <div class="col-12 text-center no-obligatorio" ng-if="!properties.isObligatorio"></div>
                    </div>
                    <div class="col-xs-12 text-left" style="height: 80px; margin-bottom: 10px;">
                        <p class="upload-file-customized-text2" ng-bind-html="properties.documentDescription | uiTranslate"></p>
                    </div>
                    <img ng-if="!extension" class="miniatura-pic" src="widgets/customSDAEUploadCustomAzure/assets/img/noimageavailabledoc.png" style="max-width: 100%; max-height: 210px; height: auto; width: auto;">
                    
                    <img ng-if="extension !== '.pdf'" ng-click="openModalFile()" class="miniatura-pic" src="{{linkSource}}" style="max-width: 100%; max-height: 210px; height: auto; width: auto;">
                    <img ng-if="extension === '.pdf'" ng-click="openModalFile()" class="miniatura-pic" src="widgets/customSDAEUploadCustomAzure/assets/img/pdf.png" style="max-width: 100%; max-height: 210px; height: auto; width: auto;">
                    <!--<img ng-click="openModalFile()" class="miniatura-pic" src="/assets/img/pdf.png" style="max-width: 100%; max-height: 210px; height: auto; width: auto;">-->
                    
                    
                </div>

                <div class="col-xs-{{ 12 - (!properties.labelHidden && properties.labelPosition === 'left' ? properties.labelWidth : 0) }}">
                    <label
                        ng-if="!properties.labelHidden"
                        ng-bind-html="properties.label | uiTranslate">
                    </label>
                    <form action="{{ctrl.url}}" ng-upload="ctrl.uploadComplete(content)"
                        ng-upload-loading="ctrl.startUploading()" error-catcher="ctrl.uploadError(error)"
                        upload-options-enable-csrf upload-options-csrf-param="CSRFToken">
                        <div class="input-group file-upload paddingpx">
                            <input ng-disabled="!properties.editar" type="text" ng-focus="ctrl.preventFocus($event)"
                                placeholder="{{properties.placeholder | uiTranslate}}" value="{{ctrl.filename}}"
                                class="form-control">

                            <button ng-disabled="!properties.editar" type="button" ng-if="ctrl.filename"
                                ng-click="ctrl.clear()" class="file-upload-clear">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                                <span class="hide" translate>Close</span>
                            </button>
                            <span class="input-group-btn">
                                <span class="btn"
                                    ng-class="{'btn-default disabled':$isUploading, 'btn-primary':!$isUploading}">
                                    <input ng-disabled="!properties.editar" class="file-upload-input"
                                        ng-class="{'file-upload-input--disabled':$isUploading}" name="{{ctrl.name}}"
                                        type="file" ng-required="properties.required" ng-model="ctrl.filemodel"
                                        accept="image/jpg, image/jpeg, image/png, application/pdf" />
                                    <i class="glyphicon"
                                        ng-class="{'glyphicon-cloud-upload':$isUploading, 'glyphicon-paperclip':!$isUploading}"></i>
                                </span>
                            </span>
                        </div>
                    </form>
                    <div ng-messages="$form[ctrl.name].$dirty && $form[ctrl.name].$error "
                        ng-messages-include="forms-generic-errors.html" role="alert"></div>
                </div>
            </div>
        </div>
    </div>
</div>