.size {
    width: 50px !important;
}

.btnborder {
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.back-orange{
    background-color: #ff5900;
    color: #ffffff;
}

.color-orange{
    color: #ff5900;
    border: 1px solid #ff5900;
    background-color: #f2c3594d;
}

.redondo{
  display: block !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
}

.text-color{
    color: #ff5900;
}

.btnderecha{
    float: right !important;
}