.panelPendientes:hover{
	    background: #e4e4e4;
}

.panelPendientes:hover{
	    background: #e4e4e4;
}
.panel-contenedor{
	    padding-left: 15px;
}
.panel{
	padding: inherit!important;
}
.panel-input{
	padding-right: 15px!important;
}
