/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
/*
.table-hover tr {
    cursor: pointer;
}*/

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}
/*========================================================================================================*/
/*========================================================================================================*/
/*========================================================================================================*/
/*========================================================================================================*/
/*========================================================================================================*/
/*========================================================================================================*/
/*========================================================================================================*/

.containerHeaderTab{
	overflow: auto;
}
.widthTabODPC{
    width:33.3%;
}


.containerNumberHeaderTab{
	float: left;
    font-size: 32px;
    width: 16%;
    text-align: center;
}

.containerTextHeaderTab1{
	float: left;
    font-size: 14px;
    width: 84%;
    text-align: center;
    margin-top: 4px;
}
.containerTextHeaderTab2{
	float: left;
    font-size: 14px;
    width: 84%;
    text-align: center;
    margin-top: 4px;
}
.containerTextHeaderTab3{
	float: left;
    font-size: 14px;
    width: 84%;
    text-align: center;
    margin-top: 4px;
}
.containerTextHeaderTab4{
	float: left;
    font-size: 14px;
    width: 84%;
    text-align: center;
    margin-top: 4px;
}
.tab-content{
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 15px;
}
li.active a{
        background: #72b4ed!important;
}
.nav-tabs li a:hover{
	background:#3f98e6!important;
	cursor:pointer!important;
}
.nav-tabs li a div label:hover{
	cursor:pointer!important;
}
.nav-tabs>li>a{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right:0px;
}
.initial-content-tab{
    display:initial;
}
.content-panel{
    padding:15px;
}
.trashIconRed{
    font-size: 18px;
    color:#d60000;
}
.okIconGreen{
    font-size: 20px;
    color:#5cb85c;
}
.paddingLeftTd{
    padding-left:15px !important;
}
.paddingRightTd{
    padding-right:15px !important;
}
.conteiner-img-header pb-image img {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
}

.nav > li.disabled a {
    cursor: not-allowed !important;
}
.nav-tabs li.disabled a div label{
    color: #333 !important;
	cursor:not-allowed !important;
}
.float-right{
    float:right;
}
.iconColumnWidth{
    width:66px;
}
.circleButtonAdd{
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.customHeightButton{
    height: 22px;
    padding: 0px;
}
.successTab>a{
    background:#5cb85c !important;
}
.table-bordered>tbody>tr>td{
    border-top: none;
    border-bottom: none;
}
.colorFileGroup>div{
    width: 25px;
    height: 25px;
    float: left;
    margin: 10px;
    border-radius: 5px;
    
}
.colorFileRed{
    background:#ffb2b2;
}
.colorFileBlue{
    background:#cfe8ff;
}
.colorFileGreen{
    background:#ceedc0;
}
.colorFileOrange{
    background:#ffe4b5;
}
.colorFilePurple{
    background:#d9bcfb;
}
.colorFileGroup>label{
    margin-top: 12px;
}
.labelTitleResumen{
    width: 100%;
    font-weight: normal;
    font-size: 18px;
}
.labelSangria{
    width: 100%;
    margin-left: 55px;
    font-size: 18px;
}
.modal-header{
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #ff5900;
    background: #ff5900;
    color: white;
}
.close{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: white;
    opacity: 100;
}
/**/

@media (min-width: 400px){
    .containerNumberHeaderTab {
        float: left;
        font-size: 40px;
        width: 16%;
        text-align: center;
        margin-top:18px;
    }
}
@media (min-width: 750px){
    .containerNumberHeaderTab {
        float: left;
        font-size: 40px;
        width: 16%;
        text-align: center;
    }
}
@media screen and (min-width: 992px){
    .containerNumberHeaderTab {
        float: left;
        font-size: 55px;
        width: 20%;
        text-align: center;
    }
}
@media(min-width: 1199px){
    .containerNumberHeaderTab {
        float: left;
        font-size: 60px;
        width: 20%;
        text-align: center;
    }
}



/**/



@media (min-width: 400px){
    .containerTextHeaderTab1 {
        float: left;
        font-size: 16px;
        width: 84%;
        text-align: center;
        margin-top: 8px;
    }
}

@media (min-width: 651px){
    .containerTextHeaderTab1 {
        float: left;
        font-size: 14px;
        width: 84%;
        text-align: center;
        margin-top: 24px;
    }
}

@media (min-width: 750px){
    .containerTextHeaderTab1 {
        float: left;
        font-size: 16px;
        width: 84%;
        text-align: center;
        margin-top: 24px;
    }
}


@media (min-width: 992px){
    .containerTextHeaderTab1 {
        float: left;
        font-size: 20px;
        width: 80%;
        text-align: center;
        margin-top: 28px;
    }
}
@media(min-width: 1199px){
    .containerTextHeaderTab1 {
        float: left;
        font-size: 26px;
        width: 80%;
        text-align: center;
        margin-top: 24px;
    }
}

/**/

@media (min-width: 400px){
    .containerTextHeaderTab2 {
        float: left;
        font-size: 13px;
        width: 66%;
        text-align: center;
        margin-top: 19px;
    }
}

@media (min-width: 580px){
    .containerTextHeaderTab2 {
        float: left;
        font-size: 14px;
        width: 78%;
        text-align: center;
        margin-top: 26px;
        margin-left: 6%;
    }
}

@media (min-width: 651px){
    .containerTextHeaderTab2 {
        float: left;
        font-size: 14px;
        width: 75%;
        text-align: center;
        margin-top: 26px;
    }
}

@media (min-width: 750px){
    .containerTextHeaderTab2 {
        float: left;
        font-size: 16px;
        width: 69%;
        text-align: center;
        margin-top: 24px;
    }
}


@media (min-width: 992px){
    .containerTextHeaderTab2 {
        float: left;
        font-size: 22px;
        width: 66%;
        text-align: center;
        margin-top: 24px;
    }
}
@media(min-width: 1199px){
    .containerTextHeaderTab2 {
        float: left;
        font-size: 26px;
        width: 60%;
        text-align: center;
        margin-top: 20px;
    }
}

/**/

@media (min-width: 400px){
    .containerTextHeaderTab3 {
        float: left;
        font-size: 16px;
        width: 84%;
        text-align: center;
        margin-top: 34px;
    }
}

@media (min-width: 651px){
    .containerTextHeaderTab3 {
        float: left;
        font-size: 20px;
        width: 84%;
        text-align: center;
        margin-top: 32px;
    }
}

@media (min-width: 750px){
    .containerTextHeaderTab3 {
        float: left;
        font-size: 30px;
        width: 84%;
        text-align: center;
        margin-top: 24px;
    }
}


@media screen and (min-width: 992px){
    .containerTextHeaderTab3 {
        float: left;
        font-size: 40px;
        width: 80%;
        text-align: center;
        margin-top: 28px;
    }
}
@media(min-width: 1199px){
    .containerTextHeaderTab3 {
        float: left;
        font-size: 50px;
        width: 80%;
        text-align: center;
        margin-top: 24px;
    }
}

/**/

@media (min-width: 400px){
    .containerTextHeaderTab4 {
        float: left;
        font-size: 12px;
        width: 84%;
        text-align: center;
        margin-top: 39px;
    }
}

@media (min-width: 651px){
    .containerTextHeaderTab4 {
        float: left;
        font-size: 16px;
        width: 84%;
        text-align: center;
        margin-top: 36px;
    }
}

@media (min-width: 750px){
    .containerTextHeaderTab4 {
        float: left;
        font-size: 24px;
        width: 84%;
        text-align: center;
        margin-top: 30px;
    }
}


@media (min-width: 992px){
    .containerTextHeaderTab4 {
        float: left;
        font-size: 34px;
        width: 80%;
        text-align: center;
        margin-top: 34px;
    }
}
@media(min-width: 1199px){
    .containerTextHeaderTab4 {
        float: left;
        font-size: 42px;
        width: 80%;
        text-align: center;
        margin-top: 30px;
    }
}

.panel-input>input.form-control.ng-pristine.ng-valid.ng-touched {
    height: 33px;
}

.input-group.col-md-12.panel-input {
    margin-bottom: 10px;
}
.panelPendientes.ng-scope {
    margin-bottom: 15px;
}
/*min 84*/
/* 148*/
/*203*/
/*253*/


/**/
/*
@media (min-width: 1200px){
    .container .nav-tabs li a .containerHeaderTab .containerTextHeaderTab1 {
        float: left;
        font-size: 17px;
        width: 50%;
        text-align: center;
    }
}
@media (min-width: 992px){
    .container .nav-tabs li a .containerHeaderTab .containerTextHeaderTab1{
        float: left;
        font-size: 33px;
    }
}

@media (min-width: 768px){
    .container .nav-tabs li a .containerHeaderTab .containerTextHeaderTab1{
        float: left;
        font-size: 33px;
    }
}
*/





.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}
.btn.active.focus,.btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: transparent
}
.bs-example.col-xs-12:active:focus {
    outline:transparent
}
.dhx_cal_light.dhx_cal_light_wide {
    display: none!important;
}
.dhx_cal_cover {
    display: none!important;
}