<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
        <thead>
        </thead>
        <tbody>
            <tr ng-show="properties.isMexicano">
                <td><button ng-click="ctrl.action()" class="btn btn-success">Validar CURP</button></td>
                <td>{{properties.curp}}</td>
                <!--<td></td>-->
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="properties.isCurpValidado">El CURP existe en RENAPO
                        </label>
                    </div>
                </td>
            </tr>
                        <tr>
                <td><a ng-click="viewfile(properties.constancia)" target="_self" class="btn btn-success">Visualizar kárdex</a></td>
                <td>{{properties.promedio}}</td>
                <!--<td></td>-->
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="properties.promedioCoincide">El promedio coincide con el kárdex o carta
                        </label>
                    </div>
                </td>
            </tr>
            <tr ng-hide="properties.resultadoCB == null">
                <td><a ng-click="viewfile(properties.resultadoCB)" target="_self" class="btn btn-success">Visualizar Examen de aptitudes y conocimiento</a></td>
                <td>{{properties.resultadoPAA}}</td>
                <!--   <td>-->
                <!--        <button ng-if="properties.cbCoincide===undefined ||properties.cbCoincide===null || properties.cbCoincide ===false" class="btn btn-primary"  ng-click="ctrl.mostrarModalMensaje()" >-->
                <!--            <span class="glyphicon glyphicon-envelope" aria-hidden="false"></span>-->
                <!--        </button>-->
                
                <!--</td>-->
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="properties.cbCoincide">El PAA coincide con la carta oficial de College Board
                        </label>
                    </div>
                </td>
            </tr>
            <tr ng-hide="properties.cartaAA == null">
                <td><a ng-click="viewfile(properties.cartaAA)" target="_self" class="btn btn-success">Visualizar carta de Admisión Anáhuac</a></td>
                <td></td>
                <!--<td></td>-->
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="properties.admisionAnahuac">Validar carta de la Admisión Anáhuac.
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
