<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
                <thead>
                    <tr>
                        <th>Universidad:</th>
                        <th>Año inicio:</th>
                        <th>Año fin:</th>
                        <th>Carrera:</th>
                        <th class="text-center">Acciones:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in properties.content">
                        <td>
                            {{row.nombre}}
                        </td>
                        <td>
                            {{row.anoInicio}}
                        </td>
                        <td>
                            {{row.anoFin}}
                        </td>
                        <td>
                            {{row.carrera}}
                        </td>
                        <td class="text-center">
                            <button class="btn btn-link" ng-click="ctrl.selectRow(row, $index, 'ver')">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button class="btn btn-link" ng-click="ctrl.selectRow(row, $index, 'editar')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button class="btn btn-link" ng-click="ctrl.selectRow(row, $index, 'eliminar')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 text-center">
        <button class="btn btn-primary" ng-click="ctrl.showModalAgregar()">Agregar universidad</button>
    </div>
</div>