.CentroTexto {
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.FotoUsuario {*/
/*    align-items: center;*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/

.CentroFoto {
    /*margin: 20px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
}
.FotoUsuario {
    max-width: 100%;
    max-height: 100%;
    height:auto;
    width:auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);    
}

.divPrincipalFoto{
    text-align: -webkit-center;
    position: relative;

    
}