<div style ="text-align: center !important;">Búsqueda de solicitudes duplicadas</div>
<div class="text-center">
    <div class="panel panel-default panel-table" ng-show="properties.findByCorreoElectronico.length == 1" style="margin-left: auto;margin-right: auto;">
        <div class="panel-heading">
            <div class="tr">
                <div class="td">
                    <input type="checkbox" name="" ng-model="properties.value" ng-disabled="true"> {{properties.findByCorreoElectronico.length > 1?"Se encontraron duplicados": "No se encontraron duplicados"}}
                    
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tr">
                <div class="td">
                    <div class="img-thumbnail anchoPanel iconoUsuario text-center" style="background: #5cb85c;display: inline-flex !important;">
                        <span class="glyphicon glyphicon-user iconSize" aria-hidden="true" style="z-index: 0;color: #e0e0e0;top: 20px;"></span>
                        <span class="glyphicon glyphicon-user iconSize" aria-hidden="true" style="z-index: 1;right: 40px;top: 30px;color: white;"></span>
                        <span class="glyphicon glyphicon-user iconSize" aria-hidden="true" style="z-index: 0;right: 80px;color: #e0e0e0;top: 20px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-table" ng-show="properties.findByCorreoElectronico.length > 1" style="margin-left: auto;margin-right: auto;">
        <div class="panel-heading">
            <div class="tr">
                <div class="td">
                    <input type="checkbox" name="" ng-model="properties.value"> {{properties.findByCorreoElectronico.length > 1?"Se encontraron duplicados": "No se encontraron duplicados"}}
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tr">
                <div class="td">
                    <div class="img-thumbnail anchoPanel iconoUsuario text-center" style="background: #c9302c;display: inline-flex !important;">
                        <span class="glyphicon glyphicon-user iconSize" aria-hidden="true" style="z-index: 0;color: #e0e0e0;top: 20px;"></span>
                        <span class="glyphicon glyphicon-user iconSize" aria-hidden="true" style="z-index: 1;right: 40px;top: 30px;color: white;"></span>
                        <span class="glyphicon glyphicon-user iconSize" aria-hidden="true" style="z-index: 0;right: 80px;color: #e0e0e0;top: 20px;"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="tr">
                <div class="td">
                    <button class="btn btn-danger" ng-click="ctrl.trabaja()">
                        Solicitudes duplicadas
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

