<h1 id="{{properties.idTitle}}" ng-if="'Level 1' === properties.level" class="text-{{ properties.alignment }}" ng-bind-html="properties.text | uiTranslate"/>
<h2 id="{{properties.idTitle}}" ng-if="'Level 2' === properties.level" class="text-{{ properties.alignment }}" ng-bind-html="properties.text | uiTranslate"/>
<h3 id="{{properties.idTitle}}" ng-if="'Level 3' === properties.level" class="text-{{ properties.alignment }}" ng-bind-html="properties.text | uiTranslate"/>
<h4 id="{{properties.idTitle}}" ng-if="'Level 4' === properties.level" class="text-{{ properties.alignment }}" ng-bind-html="properties.text | uiTranslate"/>
<h5 id="{{properties.idTitle}}" ng-if="'Level 5' === properties.level" class="text-{{ properties.alignment }}" ng-bind-html="properties.text | uiTranslate"/>
<h6 id="{{properties.idTitle}}" ng-if="'Level 6' === properties.level" class="text-{{ properties.alignment }}" ng-bind-html="properties.text | uiTranslate"/>
