

.color-text-orange{
 color: #FFA500;
}
.color-text-blue{
 color: #00A4EF;
}
.color-border-orange{
 border-color: #FFA500
}

.linia-separadora{
border-top: 3px solid;
}

.color-text-roja {
color: red;
}

.iconogrande {
    font-size: 60px !important;
}

.btnEliminar { 
    background: transparent; 
    border: none !important; 
} 

.borderBlack {
  border: 2px solid black;
  padding: 10px;
  border-radius: 25px;
}


.iconograndetabla {
    font-size: 24px !important;
}

.downbutton{
 top: 20px 
}


@media only screen and (max-width: 950px) {
    .borderBlack {
       border: 2px solid black;
       padding: 13px;
       border-radius: 15px;
       width: 82%;
       margin-left:8%;
    }   

    .iconogrande {
        font-size: 45px !important;
    }

    .rigthbutton{
        right:25px !important;
    }

}