<div class="table-responsive">
    <table class="table"
        ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr>
                <!--  class="thFont borderLines" -->
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Ubicación</th>
                <th>Valor ({{properties.tipoMoneda}})</th>
                <th ng-if="properties.editar">Acciones</th>
            </tr>
        </thead>
        <tbody ng-if="properties.content">
            <tr ng-repeat="row in properties.content">
                <td>
                    <select class="form-control" ng-disabled="!properties.editar" name="" id="" ng-model="row.catTipoInversionesPosee_id">
                        <option ng-repeat="option in properties.lstTipoInversionesPosee" value="{{option.persistenceId}}">{{option.descripcion}}</option>
                    </select>
                </td>
                <!--  data-ng-change="updateSelectList()" -->
                <td>
                    <input class="form-control" ng-disabled="!properties.editar" ng-model="row.descripcion" type="text"></td>
                <td>
                    <input class="form-control" ng-disabled="!properties.editar" ng-model="row.direccionBanco" type="text"></td>
                <td style="position: relative; display: inline-flex;">
                    <label class="moneda-display2">$</label><input  ng-disabled="!properties.editar" class="form-control moneda-display2-input" ng-model="row.valor" type="number">
                </td>
                <td ng-if="properties.editar">
                    <button class="btn btn-link" ng-click="removeElement(row)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>    
            </tr>
        </tbody>
    </table>
</div>