<div class="table-responsive">
    <table class="table"
        ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr>
                <th ng-repeat="header in properties.headers">
                     <span ng-if="properties.allowHTML" ng-bind-html="header | uiTranslate"></span>
                  	 <span ng-if="!properties.allowHTML">{{ header | uiTranslate }}</span>
                </th>
                 <th ng-if="properties.editar">Acciones</th>
            </tr>
        </thead>
        <tbody ng-if="properties.content">
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" >
                <td ng-repeat= "info in properties.columnsKey" >
                    <div ng-switch="info">
                        <div ng-switch-when="saldoPromedio"  style = "position: relative; display: inline-flex">
                            <label class="moneda-display2">$</label>
                            <input class="form-control" ng-keypress="forceKeyPressUppercase($event,10)" ng-disabled="!properties.editar" ng-model="row[info]" type="text">
                        </div>
                        <div ng-switch-when="numeroCuenta" >
                            <input class="form-control" ng-keypress="forceKeyPressUppercase($event,20)" ng-disabled="!properties.editar" ng-model="row[info]" type="text">
                        </div>
                        <div ng-switch-default>
                            <input class="form-control" ng-disabled="!properties.editar" ng-model="row[info]" type="text">
                        </div>
                    </div>
                        
                    
                </td>
                <td ng-if="properties.editar">
                    <button class="btn btn-danger" ng-click="removeElement(row)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>    
            </tr>
        </tbody>
    </table>
</div>