.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.max-size{
    max-width: 18vw;
    word-wrap: break-word;
}
.fecha1{
    background-color: #ff8300;
    
}
.fecha2{
    background-color: #6a1ec0;
   
}
.fecha3{
    background-color: #35648d;
    
}
hr{
    margin: 1rem;
}