<div class="table-responsive">
    <table class="table" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr>
                <th ng-repeat="header in properties.headers">
                     <span ng-if="properties.allowHTML" ng-bind-html="header | uiTranslate"></span>
                     <span ng-if="!properties.allowHTML">{{ header | uiTranslate }}</span>
                </th>
                <th>
                    VER
                </th>
            </tr>
        </thead>
        <tbody ng-if="ctrl.isArray(properties.content) && ctrl.isArray(properties.columnsKey)">
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                    <td class="max-size">
                        <b>{{row.decision}}</b>
                    </td>
                    <td class="max-size">
                        <b>{{row.campus}}</b><br> 
                        {{row.carrera}}<br> 
                        {{row.periodo}}
                    </td>
                    <td class="max-size">
                        <b>{{row.vpd}}</b><br> 
                        {{row.fecharegistro}}
                    </td>
                    <td><strong>PDP:</strong>{{row.pdp}},<strong>PDU:</strong>{{row.pdu}},<strong>SSE:</strong>{{row.sse}},<strong>PCDA:</strong>{{row.pcda}},<strong>PCA:</strong>{{row.pca}}</td>
                    <td class="max-size">
                        <b>{{row.observaciones}}</b>
                    </td>
                     <td>
                        <b>{{row.usuario}}</b><br> 
                        {{row.fechaultimamodificacion | date:'dd-MM-yyyy'}}<br> 
                        {{row.fechasolicitudenviada | date:'dd-MM-yyyy'}}
                    </td>
                    <td class="max-size">
                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-default" ng-click="visualizarInfo(row)">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                                </td>
                            </tr>
                        </table>
                    </td>
            </tr>
        </tbody>
        <tbody ng-if="ctrl.isArray(properties.content) && !ctrl.isArray(properties.columnsKey)">
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td ng-if="!properties.allowHTML"> {{ row | uiTranslate }}</td>
                <td ng-if="properties.allowHTML" ng-bind-html="row | uiTranslate"></td>
            </tr>
        </tbody>
    </table>
</div>