<div class="row">
    <div class="col-xs-12 text-center dashboard-baloon-container">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('progreso', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Solicitudes en proceso .png">
                <div class="title">
                    <h4 class="color-orange">Solicitudes en proceso</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('nuevas', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Nuevas solicitudes.png">
                <div class="title">
                    <h4 class="color-orange">Nueva solicitudes</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('aspirantesEnProceso', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Aspirantes en proceso.png">
                <div class="title">
                    <h4 class="color-orange">Aspirantes en proceso</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('autodescripcion', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Autodescripcion.png">
                <div class="title">
                    <h4 class="color-orange">Autodescripción</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('sesiones', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Generacion de sesiones.png">
                <div class="title">
                    <h4 class="color-orange">Generación de sesiones</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" >
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Reporte de citas.png">
                <div class="title">
                    <h4 class="color-orange">Reporte de citas</h4>
                </div>
            </div>
        </div>
        
    </div>

    <div class="col-xs-12 text-center dashboard-baloon-container" ng-click="redirect('paselista', '')">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Pase de lista.png">
                <div class="title">
                    <h4 class="color-orange">Pase de lista</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('importacionResultados', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Importancia resultados.png">
                <div class="title">
                    <h4 class="color-orange">Importación de resultados</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Generacion de cartas.png">
                <div class="title">
                    <h4 class="color-orange">Generación de cartas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Usuarios registrados.png">
                <div class="title">
                    <h4 class="color-orange">Usuarios registrados</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container" ng-click="redirect('transferencias', '')">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Transferencias.png">
                <div class="title">
                    <h4 class="color-orange">Transferencias</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 balloon-container">
            <div class="text-center">
                <img class="img-center-widget" src="assets/img/Resultados admision.png">
                <div class="title">
                    <h4 class="color-orange">Resultados de admisión</h4>
                </div>
            </div>
        </div>
    </div>
</div>