<div ng-show="!isenvelope">
    <div style="margin-bottom:15px;" class="col-xs-12" ng-show="lstCampusByUser.length>2">
        <select class="form-control" ng-model="filtroCampus"
            ng-options="getCampusByGrupo(member) as getCampusByGrupo(member) for member in lstCampusByUser"
            ng-change="addFilter()">
            <option style="display:none" value="">
                Seleccionar campus
            </option>
        </select>
    </div>
        <div style="margin-bottom:15px; float: right; margin-right:20px" >
           <table>
        <tr>
            <td  data-toggle="tooltip" data-placement="top" title="Cambio entre sesiones activas y pasadas">
                <label style="margin-right:15px">{{ctrl.orden ?"Sesiones procesadas: ":"Sesiones de BPM: "}}</label>
            </td>
            <td data-toggle="tooltip" data-placement="top" title="Cambio entre sesiones activas y pasadas">
                <div class="material-switch pull-left"   >
                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="ctrl.orden" ng-click="cambioOrden(ctrl.orden)" />
                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                </div>
                 <!--<label><input type="checkbox" ng-model="orden" ng-click="cambioOrden(orden)"> {{orden ?"Activos":"Pasados"}}</label>-->
            </td>
            <td>
                <select ng-change="sizing()" class="form-control" ng-model="properties.dataToSend.limit" style="margin-left: 15px;width: 100px;">
                <option ng-value="20">20</option>
                <option ng-value="40">40</option>
                <option ng-value="100">100</option>
            </select>
            </td>
        </tr>
    </table>
            
        </div>
        <div class="table-responsive col-xs-12"  >
            <table class="table scrollbars" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}" style="width: 100%">
                <thead>
                    <tr>
                        <th><span style="cursor:pointer" ng-click="setOrderBy('ID')">Id<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='ID'"></i></span></th>
                        
                        <th><span style="cursor:pointer" ng-click="setOrderBy('NOMBRE_SESION')">Nombre de la sesion<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='NOMBRE_SESION'"></i></span></th>                    
                        <th> <span style="cursor:pointer" ng-click="setOrderBy('NOMBRE')">Nombre de la prueba<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='NOMBRE'"></i></span></th>
                                
                        <th> <span style="cursor:pointer" ng-click="setOrderBy('CUPO')">Cupo de la prueba<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='CUPO'"></i></span></th>
                                
                        <th> <span style="cursor:pointer" ng-click="setOrderBy('ALUMNOS REGISTRADOS')">Alumnos registrados<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='ALUMNOS REGISTRADOS'"></i></span></th>
                                
                        <th ng-if="properties.orden == 'ASISTENCIA'"> <span style="cursor:pointer" ng-click="setOrderBy('ASISTENCIA')">Alumnos asistieron<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='ASISTENCIA'"></i></span></th>
                                
                        <th  ><span style="cursor:pointer " ng-click="setOrderBy('FECHA')">Fecha<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='FECHA'"></i> / <span style="cursor:pointer" ng-click="setOrderBy('LUGAR')">Lugar<i class="glyphicon"
                                ng-class="(properties.dataToSend.orientation=='ASC')?'glyphicon-arrow-up':'glyphicon-arrow-down'"
                                ng-show="properties.dataToSend.orderby=='LUGAR'"></i></span></span></th>
                        <th> Ver </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input ng-model="dynamicInput['id']" class="form-control" ng-enter="filterKeyPress('ID',dynamicInput['id'])"></td>
                        <td><input ng-model="dynamicInput['sesion']" class="form-control" ng-enter="filterKeyPress('NOMBRE DE LA SESION',dynamicInput['sesion'])"></td>
                        <td><input ng-model="dynamicInput['nombre']" class="form-control" ng-enter="filterKeyPress('NOMBRE DE LA PRUEBA',dynamicInput['nombre'])"></td>
                        <td><input ng-model="dynamicInput['alumnosg']" class="form-control" ng-enter="filterKeyPress('CUPO DE LA PRUEBA',dynamicInput['alumnosg'])"></td>
                        <td><input ng-model="dynamicInput['alumnosa']" class="form-control" ng-enter="filterKeyPress('ALUMNOS REGISTRADOS',dynamicInput['alumnosa'])"></td>
                        <td ng-if="properties.orden == 'ASISTENCIA'"><input ng-model="dynamicInput['alumnosas']" class="form-control" ng-enter="filterKeyPress('ALUMNOS ASISTIERON',dynamicInput['alumnosas'])"></td>
                        <!--    <td><input ng-model="dynamicInput['residencia']" class="form-control" ng-enter="filterKeyPress('RESIDENCIA',dynamicInput['residencia'])"></td> -->
                        <td><input ng-model="dynamicInput['fecha']" class="form-control" ng-enter="filterKeyPress('FECHA, LUGAR',dynamicInput['fecha'])"></td>
                        <!--<td><input ng-model="dynamicInput['lugar']" class="form-control" ng-enter="filterKeyPress('LUGAR',dynamicInput['lugar'])"></td>-->
                        <!--<td><input ng-model="dynamicInput['campus']" class="form-control" ng-enter="filterKeyPress('CAMPUS',dynamicInput['campus'])"></td>-->
                        <td></td>
                    </tr>
                    <tr ng-repeat="row in properties.lstContenido" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                        <td>
                            {{row.id_sesion}}
                        </td>
                        <td>
                            {{row.sesion}}
                        </td>
                        <td>
                            {{row.prueba}}
                        </td>
                        
                        <td>
                            {{row.cupo}}
                        </td>
                        <td>
                            {{row.registrados}}
                        </td>
                        <td ng-if="properties.orden == 'ASISTENCIA'">
                            {{row.prueba.asistencia}}
                        </td>
                        
                        <td>
                            <!--{{ sliceTexto(row.prueba.lugar) }}-->
                            {{row.fecharegistro}}<br/>
                            {{ row.entrada + "-" + row.salida}}<br/>
                            <label ng-repeat="info in sliceTexto(row.lugar)">
                                {{info}}
                            </label>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <button class="btn btn-default" ng-click="redirecc(row)">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-5">
                <div class="dataTables_info">Mostrando {{properties.dataToSend.offset+1}} a {{((properties.dataToSend.limit*valorSeleccionado)>value)?value:properties.dataToSend.limit*valorSeleccionado}} de {{value}} registros</div>
            </div>
            <div class="col-xs-7 text-center">
                <div role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-default" ng-click="anterior()">Anterior
                    </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Second group">
                        <button ng-repeat="row in lstPaginado" ng-class="row.seleccionado?'btn-primary':'btn-default'" type="button" class="btn" ng-click="seleccionarPagina(row.numero)">{{row.numero}}
                    </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-default" ng-click="siguiente()">Siguiente
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isenvelope">
        <label>Mensaje de recordatorio para usuario</label>
        <textarea row="5" class="form-control" style="resize:none" ng-model="mensaje"></textarea>
        <br>
        <div class="col-md-12">
            <div class="col-md-6"><button class="btn btn-danger" ng-click="envelopeCancel()">Cancelar</button></div>
            <div class="col-md-6"><button class="btn btn-info" ng-click="sendMail(selectedrow,mensaje)">Enviar
                    recordatorio</button></div>
        </div>
    </div>