<div class="col-xs-12">
   <div class="card">
  <div class="card-body">
    <p style="color:#FF5900" class="text-center">{{properties.label}}</p>
    <div class="pdf-preview" ng-show="properties.urlretorno=='' || properties.urlretorno==null">
    </div>
    <div class="img-preview" style="background-image:url({{properties.urlretorno}})"  ng-hide="properties.urlretorno=='' || properties.urlretorno==null">
        
    </div>
    
    
    <center style="text-align: center; color:#ff5900">La imagen tiene que ser de 801x311</center>
    <div style="margin-top:15px" class="text-center">
        <form action="../API/formFileUpload" ng-upload="ctrl.uploadComplete(content)" ng-upload-loading="ctrl.startUploading()" error-catcher="ctrl.uploadError(error)" upload-options-enable-csrf upload-options-csrf-param="CSRFToken">
        <input name="imagen" type="file" accept="image/*"
               ng-required="properties.required"
               ng-model="ctrl.filemodel" class="custom-file-input">
        </form>
    </div>

    <div style="margin-top:15px" class="text-center" ng-hide="properties.urlretorno=='' || properties.urlretorno==null">
        <button ng-click="borrarDocumento()" class="btn btn-info">Borrar imagen</button>
    </div>
  </div>
</div> 
</div>

<!--<div class="form-group col-xs-12" style="padding-left: 0; padding-right: 0;">
    <div style="padding-left: 0; padding-right: 0;">
        <div class="form-group" style="padding-left: 0; padding-right: 0;">
            <label class="control-label col-xs-12">{{properties.label}}</label>
            <div class="col-xs-12">
                <form action="../API/formFileUpload" ng-upload="ctrl.uploadComplete(content)" ng-upload-loading="ctrl.startUploading()" error-catcher="ctrl.uploadError(error)" upload-options-enable-csrf upload-options-csrf-param="CSRFToken">
                    <div class="input-group file-upload">
                        <input type="text" ng-focus="ctrl.preventFocus($event)" placeholder="Imagen de banner" value="{{ctrl.filename}}" class="form-control">

                        <button type="button" ng-if="ctrl.filemodel" ng-click="ctrl.clear()" class="file-upload-clear">
        <i class="glyphicon glyphicon-remove-circle"></i>
        <span class="hide" translate>Close</span>
    </button>
                        <span class="input-group-btn">
        <span class="btn" ng-class="{'btn-default disabled':$isUploading, 'btn-primary':!$isUploading}">
            <input class="file-upload-input"
                   ng-class="{'file-upload-input--disabled':$isUploading}"
                   name="{{ctrl.name}}" type="file"
                   ng-required="properties.required"
                   ng-model="ctrl.filemodel" />
            <i class="glyphicon" ng-class="{'glyphicon-cloud-upload':$isUploading, 'glyphicon-paperclip':!$isUploading}"></i>
        </span>
                        </span>
                    </div>
                </form>
                <div ng-messages="$form[ctrl.name].$dirty && $form[ctrl.name].$error " ng-messages-include="forms-generic-errors.html" role="alert"></div>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>-->