/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.no-margin{
    margin-top: 0;
    margin-bottom: 0;
}

.bold-text{
    font-weight: 600;
}

.img-center>pb-image>img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 5rem;
}

.modal-print{
    background: white;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: arial;
}

.max-img-width{
    max-width: 10rem;
}

.header-receipt{
    background: #ff5900;
}

.footer-receipt{
    background: #ff5900;
}

.text-light{
    color: white;
}