
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #ff5900; color: white">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Solicitud de Admisión</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group" ng-repeat="row in lstFormatosSolicitud">
        <li class="list-group-item btn-link">{{row.nombre}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" style="background-color: #ff5900; color: white">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Autodescripción</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group" ng-repeat="row in lstFormatosSolicitud">
         <li class="list-group-item btn-link">{{row.nombre}}</li>
      </ul>
    </div>
  </div>
</div>

<input type="file" id="files" name="files" />