.main-footer{
    background: #231F20;
    height: 5rem;
    /*height: 10vh;*/
    /*margin-top: 3px;*/
}

.top-footer{
    /*background: #231F20;*/
    height: 80%;
    color: white;
}

.bottom-footer{
    background: #4B4546;
    height: 20%;
}
