.main-container2{
    position: relative;
    width: 100%;
    /*height: 200px;*/
}

.file-show-container2{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: solid 1px black;
}

.file-show-top2{
    background: #FF5900;
    height: 40px;
    position: relative;
}

.float-label2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.file-show-bottom2{
    height: 160px;
    text-align: center;
}

.file-show-icon2{
    position: relative;
    width: 120px;
    height: 85px;
    background: #FF5900;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.icon-centeted2{
    font-size: 70px !important;
    left: 25px;
}

.upload-file-customized-header2{
    background: #FF5900;
    color: white;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 57px;
}

.upload-file-customized-header-text2{
    color: white;
    text-align: center;
}

.upload-file-customized-footer2{
    padding: 10px;
}

.upload-file-customized-text-container2{
    padding: 5px;
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.obligatorio{
    margin-top: 10px;
    height: 30px;
    background: #F22C2C;
    color: white;
    padding-top: 5px;
}

.no-obligatorio{
    margin-top: 10px;
    height: 30px;
}

.m-top{
    margin-top: 10px;
}