
<div class="text-{{ properties.alignment }} row">
    
    <div class="col-xs-6 col-sm-6 col-md-6">
        <button
            ng-class="'btn btn-' + properties.buttonStyle"
            ng-click="ctrl.action()"
            type="button"
            ng-disabled="properties.disabled || ctrl.busy">Pago de examen de admision</button>
        </div>
   <div class="col-xs-6 col-sm-6 col-md-6">
       <button
            ng-class="'btn btn-' + properties.buttonStyle"
            ng-click="ctrl.actionPago()"
            type="button"
            ng-disabled="properties.disabled || ctrl.busy" >Pago deshabilitado</button>
   </div>
</div>

