<div class="fondo" ng-if="properties.idioma === 'ENG'">
    <p>TemporaryID: <b>{{properties.caseId}}</b> / Name: <b>{{properties.nombre}} </b> /
    Session: <b>{{properties.sesion}}</b> / Date: <b>{{properties.fecha}}</b>
    <BR>  
     Phone number: <b>{{properties.telefono}}</b> / Cell phone number: <b>{{properties.celular}} </b> / Email address: <b>{{properties.celular}} </b></p>
</div>

<div class="fondo" ng-if="properties.idioma === 'ESP'">
    <p>idTemporal: <b>{{properties.caseId}}</b> / Nombre: <b>{{properties.nombre}} </b> /
    Sesión: <b>{{properties.sesion}}</b> / Fecha: <b>{{properties.fecha}}</b>
     <BR> 
     Télefono: <b>{{properties.telefono}}</b> / Télefono celular: <b>{{properties.celular}} </b> / Correo eléctronico: <b>{{properties.correo}} </b></p>
</div>