.moneda-display{
    margin-top: 7px;
    position: absolute;
    left: 25px;
}

.currency-clear{
    border: none;
    background: transparent;
    font-size: 16px;
    z-index: 3;
    position: absolute;
    top: calc(50% - .7em);
    right: 17px;
    color: #666;
    padding: .1em .4em;
}

.currency-clear:hover {
    color: #333;
}