<div class="row">
    <div class="col-xs-12 text-center dashboard-baloon-container">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':(isAdmisiones || isTiSerua || isSerua || isPaseDeLista),'balloon-container-disabled' :  !(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)}" ng-click="redirect('progreso', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)" src="assets/img/Solicitudes en proceso 1.png">
                    <img class="img-limited" ng-if="!(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)" src="assets/img/Solicitudes en proceso 1 D.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isAdmisiones || isTiSerua || isSerua || isPaseDeLista),'color-gray-disabled' :  !(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)}">Solicitudes iniciadas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':(isAdmisiones || isTiSerua || isSerua),'balloon-container-disabled' :  !(isAdmisiones || isTiSerua || isSerua)}" ng-click="redirect('nuevas', '')" >
            <div class="text-center position-relative">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="nuevasSolicitudes === 0 && (isAdmisiones || isTiSerua || isSerua)" src="assets/img/Nuevas solicitudes contador 2.png">
                    <img class="img-limited" ng-if="nuevasSolicitudes > 0 && (isAdmisiones || isTiSerua || isSerua)" src="assets/img/Nuevas solicitudes contador 1.png">
                    <img class="img-limited" ng-if="!(isAdmisiones || isTiSerua || isSerua)" src="assets/img/Nuevas solicitudes contador D.png">
                    <div class="notification-container">
                        <p ng-if="(isAdmisiones || isTiSerua || isSerua)" ng-class="{'text-light':nuevasSolicitudes > 0}" class="text-baloon">{{nuevasSolicitudes}}</p>
                    </div>
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isAdmisiones || isTiSerua || isSerua),'color-gray-disabled' :  !(isAdmisiones || isTiSerua || isSerua)}">Solicitudes en pre-autorización</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12" ng-class="{'balloon-container':(isAdmisiones || isTiSerua || isSerua || isPaseDeLista),'balloon-container-disabled' :  !(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)}" ng-click="redirect('aspirantesEnProceso', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)" src="assets/img/Aspirantes en proceso.png">
                    <img class="img-limited" ng-if="!(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)" src="assets/img/Aspirantes en proceso D.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isAdmisiones || isTiSerua || isSerua || isPaseDeLista),'color-gray-disabled' :  !(isAdmisiones || isTiSerua || isSerua || isPaseDeLista)}">Solicitudes en comité de becas</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':(isAdmisiones || isPsicologo || isPaseDeLista || isTiSerua || isSerua),'balloon-container-disabled' :  !(isAdmisiones || isPsicologo || isPaseDeLista || isTiSerua || isSerua)}" ng-click="redirect('paselista', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited"  ng-if="(isAdmisiones || isPsicologo || isPaseDeLista || isTiSerua || isSerua)" src="assets/img/Pase de lista.png">
                    <img class="img-limited"  ng-if="!(isAdmisiones || isPsicologo || isPaseDeLista || isTiSerua || isSerua)" src="assets/img/Pase de lista D.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isAdmisiones || isPsicologo || isPaseDeLista || isTiSerua || isSerua),'color-gray-disabled' :  !(isAdmisiones || isPsicologo || isPaseDeLista || isTiSerua || isSerua)}">Solicitudes en cierre</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 " ng-class="{'balloon-container':(isAdmisiones || isTiSerua || isSerua),'balloon-container-disabled' :  !(isAdmisiones || isTiSerua || isSerua)}" ng-click="redirect('usuariosRegistrados', '')" >
            <div class="text-center">
                <div class="img-center-widget">
                    <img class="img-limited" ng-if="(isAdmisiones || isTiSerua || isSerua)" src="assets/img/Usuarios registrados 1.png">
                    <img class="img-limited" ng-if="!(isAdmisiones || isTiSerua || isSerua)" src="assets/img/Usuarios registrados D.png">
                </div>
                <div class="title">
                    <h4 ng-class="{'color-orange':(isAdmisiones || isTiSerua || isSerua),'color-gray-disabled' :  !(isAdmisiones || isTiSerua || isSerua)}">Solicitudes archivadas</h4>
                </div>
            </div>
        </div>
    </div>
</div>