@font-face {
    font-family: 'optimabold';
    src: url('optima-bold-webfont.ttf') format('ttf'),
         url('optima-bold-webfont.woff2') format('woff2'),
         url('optima-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'optimaregular';
    src: url('optima-webfont.ttf') format('ttf'),
         url('optima-webfont.woff2') format('woff2'),
         url('optima-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.Nombres {
  
	font-family:'optimabold';
	font-size:31px;
	position: absolute;
	text-align: center;
    color: white;
    top:165px;
}
.Apellidos{
	font-family:'optimaregular';
	font-size:22px;
	position: absolute;
	text-align: center;
    color: white;
    top:200px;
}
.Usuarios {
	font-family:'optimaregular';
	font-size:17px;
	position: absolute;
	text-align: center;
    color: white;
    top:690px;
}
.Expediente{
	line-height: 42px;
    font-family:'optimabold';
	font-size:32px;
	position: absolute;
	text-align: center;
    color: white;
     top:250px;
}


.Center{
    text-align: center
}

.cntnr{
	
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.divFotoUsuario{
	margin: 20px;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.containerQR{
    	margin: 20px;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divFotoRecorte{
	margin: 20px;
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
.PlantillaRecorte{
	width: 600px;
	height: 1138px;
	position: absolute;
	top: -24px;
	left:-280px;
	

}

.Plantillas{
	width: 300px;
	height: 532px;
	position: absolute;
	top: 20px;
	

}
.PlantillasReverso{
	width: 300px;
	height: 532px;
	position: absolute;
	top: 575px;

}

.FotoUsuario{
	
	position: absolute;
	width: 100px;
	height: 100px;
	top: 27px;
	left:60px; 
}
/*

*/

.FotoQR{
	
	position: absolute;
	width: 278px;
	height: 278px;
	top: 688px;

}

.qrcode{
	align-items: center;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 735px;
	left:-111px;

}

.btn{
	
	color: white;

	width: 15em;  height: 2em;

	font-family:'optimabold';
	font-size:20px;

}
.Fechas{
    margin: 10;
	font-family:'optimaregular';
	font-size:18px;
	position: absolute;
	text-align: center;
	color: white;
	line-height: 17px;
	

}


.fechasSup{
	width: 300px;
	height: 532px;
	position: absolute;
	top: 350px;
	

}
.fechasInf{
	width: 300px;
	height: 532px;
	position: absolute;
	top: 424px;
	

}
.FechaIzq{
	left: 12.5%;
}
.FechaDer{
	left:54%;
}

.rotateimg180 {
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
  }