@font-face {
    font-family: 'optimabold';
    src: url('optima-bold-webfont.ttf') format('ttf'), url('optima-bold-webfont.woff2') format('woff2'), url('optima-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'optimaregular';
    src: url('optima-webfont.ttf') format('ttf'), url('optima-webfont.woff2') format('woff2'), url('optima-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.Nombres {
    font-family: 'optimabold';
    font-size: 31px;
    position: absolute;
    text-align: center;
    color: white;
    top: 165px;
}
.Apellidos {
    font-family: 'optimaregular';
    font-size: 22px;
    position: absolute;
    text-align: center;
    color: white;
    top: 200px;
}
.Sesion {
    font-family: 'optimaregular';
    font-size: 14px;
    position: absolute;
    text-align: center;
    color: white;
    top: 312px;
}
.Usuarios {
    font-family: 'optimaregular';
    font-size: 17px;
    position: absolute;
    text-align: center;
    color: white;
    top: 690px;
}
.Expediente {
    line-height: 42px;
    font-family: 'optimabold';
    font-size: 32px;
    position: absolute;
    text-align: center;
    color: white;
    top: 250px;
}
.Center {
    text-align: center
}
.cntnr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.divFotoUsuario {*/
/*    margin: 20px;*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.FotoUsuario {*/
/*    position: absolute;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    top: 27px;*/
/*    left: 60px;*/
/*}*/

.divFotoUsuario {
    display: flex;
    left: 109px;
    top: 47px;
    position: relative;
    width: 100px;
    height: 100px;
}
.FotoUsuario {
  max-width: 100%;
    max-height: 100%;
    height:auto;
    width:auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); 
}

.FotoUsuarioCanvas{
  max-width: 100px;
    max-height: 100px;
    height:auto;
    width:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); 
}

.containerQR {
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divFotoRecorte {
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PlantillaRecorte {
    width: 600px;
    height: 1138px;
    position: absolute;
    top: -54px;
    left: -310px;
}
.Plantillas {
    width: 300px;
    height: 532px;
    position: absolute;
    top: 20px;
}
.PlantillasReverso {
    width: 300px;
    height: 532px;
    position: absolute;
    top: 575px;
}

.FotoQR {
    position: absolute;
    width: 278px;
    height: 278px;
    top: 688px;
}
.qrcode {
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 705px;
    left: -141px;
}
.btn {
    width: 10.5em;
}
.pValidacion {
    margin: 0;
    position: inherit;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Fechas {
    margin: 10;
    font-family: 'optimaregular';
    font-size: 15px;
    text-align: center;
    color: white;
    line-height: 16px;
    width: 50%;
    position: relative;
}
.fechasSup {
    width: 300px;
    position: absolute;
    top: 350px;
    height: auto;
    display: inline-flex;
    padding-left: 3rem;
    padding-right: 3rem;
    top: 350px;
}
.fechasInf {
    width: 300px;
    position: absolute;
    top: 350px;
    height: auto;
    display: inline-flex;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 423px;
}
.rotateimg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}