{{usuario | json}}
<div id="canvas">
    <div class="cntnr">
        <div class="divFotoUsuario">
            <!--<img class="FotoUsuario" src="{{lstDatos[0].fotografiab64}}" width="110" height="110" />-->
            <img class="FotoUsuario" src="{{lstDatos.fotografiabpm  }}" width="110" height="110" />
            <!--<img class="FotoUsuario" src="{{properties.usuario.urlFoto + properties.azureTempKey}}" width="110" height="110" />-->
            <!--<canvas style="z-index: -1;" id="canvasfotousuario" class="FotoUsuarioCanvas" width="110" height="110">-->

            <!--</canvas>-->
            <!--<canvas style="z-index: -1;" id="canvasfotousuario2" class="FotoUsuarioCanvas" width="110" height="110">-->

            <!--</canvas>-->
        </div>
        <div class="divFotoRecorte">
            <img class="PlantillaRecorte" src="assets/img/Recortable.png" width="320" height="1136" />
        </div>
        <img class="Plantillas" src="assets/img/fondo{{properties.usuario.catCampus.clave}}.png" width="320"
            height="568" />
        <img class="Plantillas" src="assets/img/{{properties.usuario.catGestionEscolar.nombre}}.png" width="320"
            height="568" />
        <div id="name" class="Nombres">
            <p id="name1">{{properties.usuario.primerNombre+" "+properties.usuario.segundoNombre}}</p>
        </div>
        <div id="apellidos" class="Apellidos">
            <p id="apellidos1">{{properties.usuario.apellidoPaterno+" "+properties.usuario.apellidoMaterno}}</p>
        </div>
        <div id="expediente" class="Expediente">
            {{properties.datosUsuarioId.idBanner}}
        </div>
        <div id="sesion" class="Sesion">
            Sesión:{{properties.fechasExamenes.data[0].snombre}}
        </div>
        <div class="fechasSup">
            <div class="Fechas">
                <p class="pValidacion"> {{fecha11}} <br ng-if="properties.datosUsuarioId != undefined && !properties.datosUsuarioId.cbCoincide"> {{fecha12}} <br ng-if="properties.datosUsuarioId != undefined && !properties.datosUsuarioId.cbCoincide"> {{fecha13}}</p>
            </div>
            <div class="Fechas">
                <p> {{fecha21}} <br> {{fecha22}} <br> {{fecha23}}</p>
            </div>
        </div>
        <div class="fechasInf">
            <div class="Fechas">
               <p> {{fecha31}} <br> {{fecha32}} <br> {{fecha33}}</p>
            </div>
            <div class="Fechas">
            </div>
        </div>
        <img class="PlantillasReverso rotateimg180"
            src="assets/img/anim-fondo-{{properties.usuario.catCampus.clave}}-01.png" width="320" height="568" />
        <img class="PlantillasReverso rotateimg180"
            src="assets/img/anim-fondo-{{properties.usuario.catCampus.clave}}-02.png" width="320" height="568" />
        <img class="PlantillasReverso rotateimg180"
            src="assets/img/anim-fondo-{{properties.usuario.catCampus.clave}}-03.png" width="320" height="568" />
        <img class="PlantillasReverso rotateimg180" src="assets/img/{{properties.usuario.catGestionEscolar.nombre}}.png"
            width="320" height="568" />
        <img class="FotoQR rotateimg180" src="assets/img/fondo-blanco.jpg" width="110" height="110" />
        <div id="usuario" class="Usuarios rotateimg180">
            <p id="usuario1">{{properties.datosUsuarioId.idBanner}}</p>
        </div>
        <div class="containerQR">
            <p id="qrcode" class="qrcode  rotateimg180"></p>
        </div>


    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br>

</div>