<div class="ignored-table">
    <table class="table table-dark" style="width:100%">
        <thead>
            <tr class="text-center">
                <th>LOG</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>TABLE</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12" style="overflow-x: auto;   max-height: 80vh;">
	<table class="table table-dark">
    <thead>
        <tr class="">
            <th ng-repeat="header in cabecera">{{header | uppercase}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in properties.lstLog">
            <td ng-repeat="header in cabecera">{{row[header]}}</td>
        </tr>
    </tbody>
	</table>
</div>