[unselectable="on"].ng-valid {
    width:100%!important
}
[style="width: 723px;"]{
    width:100%!important
}

[style="width: 863px; border-width: 0px 1px 1px; border-top-style: initial; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: initial; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-image: initial; overflow: hidden auto;"]{
    width:100%!important
}