<h2 class="oculto">CROPPIE VANILLA <i class="glyphicon glyphicon-scissors"></i></h2>
<div  id="{{ 'vanilla-demo' + properties.id }}"></div>
<div class="row">
    <div class="col-xs-4 text-left"><button class="btn btn-primary" ng-click="rotate(true)">  <i class="small material-icons">replay</i> </button></div>
    <div class="col-xs-4 text-center"><button class="btn btn-primary" ng-click="recortar()">  <i class="glyphicon glyphicon-floppy-disk"></i> </button></div>
    <div class="col-xs-4 text-right"><button class="btn btn-primary" ng-click="rotate(false)">  <i class="small material-icons">refresh</i> </button></div>
</div>
