<div class="table-responsive">
    <table class="table" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr>
                <th ng-repeat="header in properties.headers">
                     <span ng-if="properties.allowHTML" ng-bind-html="header | uiTranslate"></span>
                  	 <span ng-if="!properties.allowHTML">{{ header | uiTranslate }}</span>
                </th>
                <th> {{ "Jubilado" | uiTranslate }}</th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td ng-repeat="column in properties.columnsKey track by $index">
                    {{ $eval(column, row) | uiTranslate }}
                    <!-- {{ row | json }}
                    {{ column }} -->
                    <label ng-if="column === 'catParentezco.descripcion'" ng-show="row.isTutor === true && row.vive === null">(Tutor)</label>
                </td>
                <!-- <td ng-if="properties.allowHTML" ng-repeat="column in properties.columnsKey track by $index">
                    <div ng-if="properties.allowHTML" ng-bind-html="$eval(column, row) | uiTranslate">
                        {{ row | json }}
                        {{ column }}
                        <label ng-show="row.isTutor === true">(Tutor)</label>
                    </div>
                </td> -->
                <td>
                    <input type="checkbox" ng-model="row.jubilado"> 
                </td>
            </tr>
        </tbody>
        <!-- <tbody ng-if="ctrl.isArray(properties.content) && ctrl.isArray(properties.columnsKey)">
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td ng-if="!properties.allowHTML" ng-repeat="column in properties.columnsKey track by $index">
                    {{ $eval(column, row) | uiTranslate }}
                    {{ row | json }}
                    <label ng-show="row.isTutor === true">(Tutor)</label>
                </td>
                <td ng-if="properties.allowHTML" ng-repeat="column in properties.columnsKey track by $index">
                    <div ng-if="properties.allowHTML" ng-bind-html="$eval(column, row) | uiTranslate">
                        {{ row | json }}
                        {{ column }}
                        <label ng-show="row.isTutor === true">(Tutor)</label>
                    </div>
                </td>
                <td>
                    <input type="checkbox" ng-model="row.jubilado"> 
                </td>
            </tr>
        </tbody>
        <tbody ng-if="ctrl.isArray(properties.content) && !ctrl.isArray(properties.columnsKey)">
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td ng-if="!properties.allowHTML"> {{ row | uiTranslate }}</td>
                <td ng-if="properties.allowHTML" ng-bind-html="row | uiTranslate"></td>
                <td>
                    <input type="checkbox" ng-model="row.jubilado"> 
                </td>
            </tr>
        </tbody> -->
    </table>
</div>