<div class="table-responsive">
    <table class="table" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr>
                <th ng-repeat="header in properties.headers">
                     <span ng-if="properties.allowHTML" ng-bind-html="header | uiTranslate"></span>
                  	 <span ng-if="!properties.allowHTML">{{ header | uiTranslate }}</span>
                </th>
                <th> {{ "Jubilado" | uiTranslate }}</th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="row in properties.content" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td ng-repeat="column in properties.columnsKey track by $index">
                    {{ ctrl.desconoceSusDatos( $eval(column, row) ) | uiTranslate }}
                    <!-- {{ row | json }}
                    {{ column }} -->
                    <label ng-if="column === 'catParentezco.descripcion'" ng-show="row.isTutor === true && row.vives === null">(Tutor)</label>
                </td>
                <td>
                    <input type="checkbox" ng-model="row.jubilado" ng-change="ctrl.isJubilado(row.persistenceId,row.catParentezco.descripcion)"> 
                </td>
            </tr>
        </tbody>
    </table>
</div>