.datepicker{
	z-index: 1050!important;
}
.modal{
    z-index:79!important;
}
.modal-backdrop{
    z-index:78!important;
}
.panel-anahuac {
    border-color: gray!important;
}
.panel-heading{
    border:solid 1px;
}
.panel-anahuac>.panel-heading {
    color: #f5f5f5;
    background-color: #ff5900;
    border-color: #ddd;
}
label.panel-label {
    font-size: 2rem;
}
.dhx_cal_event_clear.dhx_cal_event_line_start.dhx_cal_event_line_end {
    border-radius: 40px;
    height: auto;
    vertical-align: middle;
    white-space: break-spaces;
    color: gainsboro;
    padding-left: 10px;
}