/* Put your css in here */

multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}
multiselect {
    border: 1px solid #cccccc;
    border-radius: 5px;
}
multiselect>div>button.btn:focus {
    outline:transparent
}
multiselect ul.dropdown-menu>li{
    padding-left:10px;
    padding-right:10px;
}
multiselect>div>.btn.active.focus, multiselect>div>.btn.active:focus, multiselect>div>.btn.focus, multiselect>div>.btn:active.focus, multiselect>div>.btn:active:focus, multiselect>div>.btn:focus {
    outline: transparent
}
span.caret.pull-right {
    position: absolute;
    bottom: 15px;
    right: 10px;
}