/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}


.m-mini{
    margin-left: 3px;
    margin-right: 3px;
}



.miniatura-pic{
    max-width: 25rem;
    max-height: 25rem;
    height: auto;
    width: auto;
}

.moneda-display2{
    margin-top: 7px;
    position: absolute;
    left: 13px;
    z-index: 2;
}

.moneda-display2-input{
    padding-left: 15px;
}



/*! politespace - v0.1.20 - 2016-09-26
Politely add spaces to input values to increase readability (credit card numbers, phone numbers, etc).
 * https://github.com/filamentgroup/politespace
 * Copyright (c) 2016 Filament Group (@filamentgroup)
 * MIT License */

.politespace-proxy {
    position: relative;
    overflow: hidden; /* clearfix for floating siblings */
    /*display: inline-block;*/
    width: 100%;
}
.politespace-proxy-val {
    display: none;
    text-align: left;
}
.politespace-proxy.active.notempty > .politespace-proxy-val {
      display: block;
      position: absolute;
      text-align: left;
      left: 0;
      top: 0;
      pointer-events: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      z-index: 1;
}
/* Safari 9 has a weird top/bottom margin on form elements inside of politespace proxies */
/* This caused issues with proxy positioning.
.politespace-proxy > input {
  margin-top: 0;
  margin-bottom: 0;
}*/
.politespace-proxy.active.notempty input {
  -webkit-text-fill-color: transparent;
  color: transparent;
}
/*.politespace-proxy.active.notempty input[type=number] {*/
/*  -moz-appearance: textfield;*/
/*}*/
/*.politespace-proxy.active.notempty input[type=number]::-webkit-inner-spin-button,*/
/*.politespace-proxy.active.notempty input[type=number]::-webkit-outer-spin-button {*/
/*  -webkit-appearance: none;*/
/*  margin: 0;*/
/*}*/



.text-justify>pb-text>p{
    text-align: justify;
}
