.calif-option{
    display: inline-flex;
    width: 14rem;
}

.calif-header{
    width: 60rem;
}

.radio-rasgo {
    margin-top: 4px 6px 0 !important;
}

.hide-component{
    visibility: hidden;
    height: 0px;
}