@media only screen and (min-width: 768px){
    .navbar-brand {
        max-width: 80%;
        padding-right: 0px;
        font-size: 1.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.max-title-width {
    display: block;
    max-width: 80%;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-account {
    text-align: left;
}

.navbar-collapse{
    padding:0;    
}

ul{ 
    list-style-type: none;
    padding-inline-start: 0;
}

li{
    padding-left: 15px;
    padding-right: 15px;
}

li.active>button>span.maxTitleWidth {
    /*background: #0f0d0d;*/
     font-size: 17px;
}

li.active>button>span>.side-menu-icon{
    width: 35px;
    height: 35px;
}

li.active>a, li.secondary-app.active{
    /*background: #0f0d0d;*/
    /*color: white;*/
    font-size: 19px;
}

.main-app{
    color: #FF5900;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-top: solid 1px white;
    margin-left: 5px;
    margin-right: 5px;
}

.main-app>a,li.secondary-app>a{
    color: white;
}

.secondary-app{
    padding-left: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    /*color: green;*/
}

.bgo, .navbar-responsive-collapse, .navbar-inverse{
    background: #FF5900;
    border: #FF5900;
}

.ease-transition{
    transition: all .5s ease;
}

.navbar-inverse .btn-link{
    color: white;
    overflow-x: hidden;
    width: 100%;
}

.text-left{
    text-align: left;
}

.btn{
    white-space: normal;
}

.side-menu-icon{
    width: 25px;
    height: 25px;
}