/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}


.color-success{
    background: #11AD3E;
    color: white;
    border-radius: 500px;
    padding:.3rem;
}

.color-revision{
    background: #4DBCF4;
    color: white;
    border-radius: 500px;
    padding:.3rem;
}

.color-error{
    background: #E94444;
    color: white;
    border-radius: 500px;
    padding:.3rem;
}

.table>tbody>tr>td, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td{
    font-weight: 500;
}

.table>tfoot>tr>td>label{
    font-weight: 600;
}

.error-message-carta{
    background: #E94444;
    border-radius: 4px;
    padding: 0.5rem;
    color: white;
}