
.costume.btn.btn-dark{
    background-color:black; 
    border-color:black; 
    color:white;
}

.costume.btn.btn-warning{
    background-color:#ff5800;
    color:white;
}
.sweet-warning{
 background-color: #ff5900;
color:white;
}

.sweet-warning:not([disabled]):hover{
 background-color: #e24f00;
color:white;
}
.sweet-cancel{
 background-color: black;
color:white;
}
.swal-button--cancel {
    color: #fff;
    background-color: #191717;
}