<div class="col-lg-12 col-md-12 col-sm-12 no-side-padding">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 no-side-padding force-width" ng-repeat-start="campus in properties.campusList">
            <div class="col-lg-10 col-md-10 col-sm-12" ng-click="setSelected(campus.persistenceId)">
                <!--<imput type="radio" ng-model="selected" value="{{campus.campusName}}"></imput> {{campus.campusName}}-->
                <div class="radio-container col-lg-1 col-md-1 col-sm-1">
                    <input type="radio" ng-model="selected" ng-change="string" ng-value="campus.persistenceId">
                </div>
                <div class="info-container col-lg-8 col-md-8 col-sm-8">
                    <!--img class="anahuac-logo-mini" ng-src="{{properties.src}}"-->
                    <img class="anahuac-logo-mini" ng-src="{{campus.asset}}">
                </div>
            </div>
        </div>
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2" ng-repeat-end ng-show="$index == 4">
        </div>
    </div>
</div>