/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.nopadding{
    padding-left: 0;
}

.paddingtabs{
    padding-right: 15px;
    padding-left: 15px;
}

/*.size-fixed{*/
/*    width: 20rem;*/
/*    height: 20rem;*/
/*    position: relative;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

.image-pdf{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /*position: relative;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
.fix-pdf-widget-height>pb-button>div>button{
    max-width: 20rem;
    height: 20rem;
}

.text-red{
   color: #F84040;
}

tr.info {
    background-color: #ff5900;
}

.table>thead>tr>td.info, .table>thead>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th {
    background-color: #FEB36C;
}

.table-hover>tbody>tr:hover {
    background-color: #FEB36C;
}

.table-hover>tbody>tr>td.info:hover, .table-hover>tbody>tr>th.info:hover, .table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr:hover>.info, .table-hover>tbody>tr.info:hover>th {
    background-color: #FEB36C;
}

.text-white{
   color: #ffffff;
}