/* Add margin bottom and top to each widgets */
.component {
    margin-bottom: 3px;
    margin-top: 3px;
}

/* Set cursor to pointer on table with selectable rows */
.table-hover tr {
    cursor: pointer;
}

/* Set a red border to invalid input fields in forms */
input[type='text'].ng-invalid.ng-dirty, input[type='email'].ng-invalid.ng-dirty,
input[type='number'].ng-invalid.ng-dirty, input[type='password'].ng-invalid.ng-dirty {
  border-color: #C00;
  border-width: 1px;
}

/* Add a red star after required inputs */
.control-label--required:after {
  content: " *";
  color: #C00;
}
.btn-invalid{
    border-color: #C00;
    border-width: 1px;
}

.bonita-modal{
    overflow-y: auto;
}

.modal-open .datepicker,
.modal-open .timepicker {
    z-index: 9999;
}

.btn-facebook>pb-button>div>button {
  color: #fff;
  background-color: #1877f2;
  border-color: #1877f2; 
}

.btn-facebook>pb-button>div>button:hover {
  color: #fff;
  background-color: #0c65d8;
  border-color: #0b5fcc; 
}

.btn-facebook>pb-button>div>button:focus, .btn-facebook>pb-button>div>button.focus {
  color: #fff;
  background-color: #0c65d8;
  border-color: #0b5fcc;
  box-shadow: 0 0 0 0.2rem rgba(59, 139, 244, 0.5); 
}

.btn-facebook>pb-button>div>button.disabled, .btn-facebook>pb-button>div>button:disabled {
  color: #fff;
  background-color: #1877f2;
  border-color: #1877f2; 
}

.btn-facebook>pb-button>div>button:not(:disabled):not(.disabled):active, .btn-facebook>pb-button>div>button:not(:disabled):not(.disabled).active,
.show > .btn-facebook>pb-button>div>button.dropdown-toggle {
  color: #fff;
  background-color: #0b5fcc;
  border-color: #0b5abf; 
}

.btn-facebook>pb-button>div>button:not(:disabled):not(.disabled):active:focus, .btn-facebook>pb-button>div>button:not(:disabled):not(.disabled).active:focus,
.show > .btn-facebook>pb-button>div>button.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(59, 139, 244, 0.5); 
}

.btn-login-function>pb-button>div>button{
    width: 22rem;
}

.width-100{
    height: 100vh;
    position:relative;
}

.width-100>row{
    height: 100%;
}

.relative-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* .absolute-center{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
} */

.full-height{
    height: 100%;
}

.bordered{
    border: solid 2px black;
}

.bg-white{
    background: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 6px 1px black;
}

.testClassPosition{
    position: absolute;
    top: 50%;
}

.m-top{
    margin-top: .7rem;    
} 

.m-bottom{
    margin-bottom: .7rem;
}

.bold-text>pb-title>h4{
    font-weight: 600;
}

.btn.btn-link{
    color: #FF5900;
}
@media only screen and (min-width: 760px){
    .absolute-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .b-left{
        border-left: solid 3px #B5B5B5;
    }
    
    .btn-login-width{
        width: 16rem;
    }
}

@media only screen and (max-width: 759px){
    .absolute-center{
        position: relative;
        top: 1rem;
        /*bottom: 5rem;*/
    }
}