.aling-middle {
    vertical-align: middle !important;
}
.backgroundOrange {
	background: rgb(255, 131,0) !important;
}
.backgroundDGray {
	background: rgb(84,95,108) !important;
}
.backgroundLGray {
	background: rgb(243,243,243) !important;
}
.color-index {
    font-size: 23px;
    color: white;
}
.color-titulo {
    color: white;
}
textarea {
  resize: none;
}