<div class="table-responsive">
    <table class="table" style="text-align: center;" ng-class="{'table-hover': ctrl.isClickable(), 'table-striped': properties.striped, 'table-condensed': properties.condensed, 'table-bordered': properties.bordered}">
        <thead>
            <tr> 
                <th ng-repeat="header in properties.headers"  class="middle-td text-center">
                    <span style="cursor:pointer" ng-click="setOrderBy(header)">{{ header | uiTranslate }}<i class="" ng-class="(properties.dataToFilter.orientation=='ASC')?'glyphicon glyphicon-arrow-up':'glyphicon glyphicon-arrow-down'" ng-show="properties.dataToFilter.orderby==header.toUpperCase()"></i></span>
                </th>
                <th  class="middle-td text-center" style="width: 110px;">
                    Ver
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in properties.contenido" ng-class="{'info': ctrl.isSelected(row)}">
                
                <td class="middle-td" ng-if="!properties.allowHTML" ng-repeat="column in properties.columnsKey track by $index">
                    {{ $eval(column, row) | uiTranslate }}
                </td>
                <td class="middle-td" ng-if="properties.allowHTML" ng-repeat="column in properties.columnsKey track by $index">
                    <div ng-if="properties.allowHTML" ng-bind-html="$eval(column, row) | uiTranslate"></div>
                </td>
                <td class="middle-td" style="align-items: center;">
                    <!--ng-click="ctrl.selectRow(row)"-->
                    <button class="btn btn-default" ng-click="openModal()">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
        <tbody ng-if="ctrl.isArray(properties.contenido) && !ctrl.isArray(properties.columnsKey)">
            <tr ng-repeat="row in properties.contenido" ng-click="ctrl.selectRow(row)" ng-class="{'info': ctrl.isSelected(row)}">
                <td ng-if="!properties.allowHTML"> {{ row | uiTranslate }}</td>
                <td ng-if="properties.allowHTML" ng-bind-html="row | uiTranslate"></td>
            </tr>
        </tbody>
    </table>
</div>
